.medicationsIndex{
  ul{
    list-style: none;
  }

}

@media only screen and (max-device-width: 667px)
and (orientation : portrait)
and (-webkit-device-pixel-ratio: 2) {
  .medicationsIndex{
    font-size: 40px;
    h1{
      font-size: 60px;
    }
  }
}
