//--------------------------------UsersShow-------------------------------------------\\
.users-show{
  button {
    font-size: 45px;
  }
  h1{
    font-size: 100px;
  }
  h2{
    font-size: 40px
  }
  h3{
    font-size: 50px;
  }
  li{
    font-size: 35px;
  }
}

@media only screen and (max-device-width: 667px)
and (orientation : portrait)
and (-webkit-device-pixel-ratio: 2) {
  .bg-New{
    button {
      height: 200px;
    }
    h1{
      font-size: 100px;
    }
    h2{
      font-size: 40px
    }
    h3{
      font-size: 50px;
    }
    li{
      font-size: 35px;
    }
  }
