$primary-color:   #1BE7FF;
$secondary-color: #8A0707;
$tertiary-color:  #FDFDFD;
$accent-color:    #83fd00;
$white:           #ffffff;

$heading-font: 'Open Sans', sans-serif;
$body-font: 'Lato', sans-serif;
