// Import all of your scss files here


  //--------------------------------HomePage-------------------------------------------\\
  .home{
    section{
      background-color: #1BE7FF;
    }
    .homeImage{
      height: 200px;
      width: 200px;
      left : 39%;
      position: relative;
      background-size: cover;
      background-image: url('http://icons.veryicon.com/ico/System/Colorful%20Long%20Shadow/Drop.ico');
      padding: 10px;
    }
    .homeHeader1{
      text-align: center;
    }

  }
//--------------------------------UsersUpdate-------------------------------------------\\

.users-update{
  label{
    font-size:50px;
  }
  .form-control{
  height: 75px;
  font-size: 40px;
  }
}

//--------------------------------UsersShow-------------------------------------------\\
.users-show{
  button {
    font-size: 45px;
  }
  h1{
    font-size: 100px;
  }
  h2{
    font-size: 40px
  }
  h3{
    font-size: 50px;
  }
  li{
    font-size: 35px;
  }
}

//--------------------------------BgIndex-------------------------------------------\\
.bg-Index{
  label{
    font-size: 50px;
  }
  input{
    height: 100px;
    font-size: 50px;
  }
  ul{
    list-style: none;
    font-size: 35px;
  }
}

//--------------------------------BgNew-------------------------------------------\\
.bg-New{
  h1{
    font-size: 50px;
  }
  label{
    font-size: 50px;
  }
  input{
    height: 100px;
    font-size: 50px;
  }
}
