// Import all of your scss files here
@import "variables";
@import "typography";

@import "pages/bgTests/index";
@import "pages/bgTests/new";
@import "pages/users/edit";
// @media only screen and (max-device-width: 667px)
//     and (-webkit-device-pixel-ratio: 2) {
  //--------------------------------HomePage-------------------------------------------\\
  .home{
    section{
      background-color: $primary-color;
    }
    .homeImage{
      height: 200px;
      width: 200px;
      left : 39%;
      position: relative;
      background-size: cover;
      background-image: url('/images/Blood-glucose.png');
      padding: 10px;
    }
    .homeHeader1{
      text-align: center;
    }

  }
//--------------------------Index-----------------------------------------------\\
.navbar-brand{
  img{
    width: 50px;
  }
}
